<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OpenID4VP Presentation Test Suite" verbose="1">
    
    <test name="Unit Tests">
        <groups>
            <run>
                <include name="unit"/>
            </run>
        </groups>
        <packages>
            <package name="org.wso2.carbon.identity.openid4vc.presentation.service"/>
        </packages>
    </test>
    
    <test name="Integration Tests">
        <groups>
            <run>
                <include name="integration"/>
            </run>
        </groups>
        <packages>
            <package name="org.wso2.carbon.identity.openid4vc.presentation.integration"/>
        </packages>
    </test>
    
    <test name="All Tests">
        <packages>
            <package name="org.wso2.carbon.identity.openid4vc.presentation.*"/>
        </packages>
    </test>
    
</suite>
